{% extends 'layout.main.html.twig' %}


{% block breadcrumbs %}
    {% set breadcrumbs = [
        {'url': null, 'title': 'Library Settings', 'active': false},
        {'url': path('admin.list'), 'title': 'Admins', 'active': true},
    ] %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <a href="{{ path('admin.add') }}" class="btn btn-info mb-2 float-right">Add</a>
    <div class="float-left mb-2 mr-2">
        {% include 'default/_partials/search-form.html.twig' with {'action': path('admin.list'), 'showMode': true } %}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Reading Books</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            {% set countReadingBooks = readingManager.countBooksByUser(user.id) %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ countReadingBooks }}</td>
                <td>
                    <a href="{{ path('admin.edit', {'id': user.id}) }}" class="btn btn-info">Edit</a>

                    {% if countReadingBooks > 0 %}
                        {% include 'default/_partials/button-delete-disabled.html.twig' with {
                            'modalId': 'user-'~ user.id ~'-delete-disabled-modal',
                            'message': 'The user is reading "' ~ countReadingBooks ~ '" book(s).'
                        } %}
                    {% else %}
                        {% include 'default/_partials/button-delete-confirm.html.twig' with {
                            'modalId': 'user-'~ user.id ~'-delete-confirm-modal',
                            'deleteUrl': path('admin.delete', {'id': user.id})
                        } %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}

