{% extends 'layout.main.html.twig' %}
{# @var \App\Service\Manager\AuthorManager authorManager #}
{# @var \App\Service\Manager\BookManager bookManager #}
{# @var \App\Service\Manager\ReadingManager readingManager #}
{# @var \App\Service\Manager\UserManager userManager #}

{% block breadcrumbs %}
    {% set breadcrumbs = [
        {'url': path('reading.list.my'), 'title': 'Reading', 'active': true},
    ] %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="float-right mb-2 mr-2">
        {% include 'default/reading/search-form.html.twig' with {'action': path('reading.list.my'), 'showMode': true } %}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Reading type</th>
            <th scope="col">Book</th>
            <th scope="col">Author</th>
            <th scope="col">Start At</th>
            <th scope="col">End At</th>
            <th scope="col">Prolong At</th>
            <th scope="col" width="200px;">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for reading in readings %}
            {% set book = bookManager.get(reading.book_id) %}
            <tr>
                <th scope="row">{{ reading.id }}</th>

                <td>
                    {{ readingTypes[reading.reading_type] is defined ? readingTypes[reading.reading_type] : null }}
                </td>

                <td>
                    {{ book ? book.title : null }}
                </td>
                <td>
                    {% set authors = bookManager.authors(reading.book_id) %}
                    {% for author in authors %}
                        {{ author.first_name }} {{ author.last_name }} <br/>
                    {% endfor %}
                </td>
                <td>{{ reading.start_at }}</td>

                <td style="{{ reading.is_expire ? 'background-color: ' ~ expireColor : null }}">
                    {{ reading.end_at }} <br/>
                    {{ reading.is_expire ? 'penalty: ' ~ penalty : null }}
                </td>

                <td>
                    {{ reading.prolong_at }}
                </td>

                <td>
                    {% if reading.prolong_at %}
                        <a href="{{ path('reading.my.prolong.cancel', {'id': reading.id}) }}" class="btn btn-secondary">Cancel</a>
                    {% else %}
                        <a href="{{ path('reading.my.prolong.add', {'id': reading.id}) }}" class="btn btn-primary">Prolong</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(readings) }}
    </div>
{% endblock %}

